body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

.dashboard {
    width: 100vw;
    background-color: #fff1c2;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
   
    border: 1px solid #900b09;
    border-radius: 10px;
}

.sidebar{
    width: 250px; 
  background-color: #e5a000; 
  padding: 20px;
  box-sizing: border-box;
  align-items:self-start;
  align-content: space-around;
  justify-content: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.main-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; 
    font-family: Arial, Helvetica, sans-serif;
  }


h2 {
    font-size: medium;
    line-height: 1.2;
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
}

.quadros{ 
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.quadros h2{
    color: white;
    align-items: right;
    font-family: Arial, Helvetica, sans-serif;
}

.quadro-dash{

border: 3px solid; 
padding: 10px;
border-radius: 10px;
width: 200px;
height: 130px;
font-size: small;
color: #FFF1C2;
background-color: #B3261E;
font-family: Arial, Helvetica, sans-serif;
}

.quadro-dash p {
    font-size: 20px;
}

.tabela-dash{
    font-size: small;
}

h3{
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.nomes{
    font-size: medium;
    font-weight: bold;
    color: #B3261E;
    font-family: Arial, Helvetica, sans-serif;
}

.nomes2{
    font-size: medium;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.mapa-dash{
    width: 100%;
    height: 330px; 
    background: #eee;
}