.layout-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  background: #fff1c2;
  border: 1px solid #900b09;
  box-shadow: 0px 4px 4px rgba(109, 98, 98, 0.25);
  border-radius: 10px;
  width: 100vw;
  height: auto;
  box-sizing: border-box;
  gap: 10px;
}

.sidebar-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #f8f9fa;
  margin-top: 160px;
  margin-left: 50px;
  background: #fff1c2;
  border: 1px solid #900b09;
  border-radius: 10px;
}

.img-home {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9ecef;
  font-family: Arial, Helvetica, sans-serif;
}

.imghome {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border: 1px solid #900b09;
  border-radius: 10px;
}

.form-home {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  align-items: center;
  border: 1px solid #900b09;
  border-radius: 10px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.label-home {
  margin-bottom: 5px;
  font-weight: bold;
}

.img-home,
.form-home {
  flex: 1;
  max-width: 70%;
}

.input-home {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

.home-error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.btn-home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
  height: auto;
  width: 150px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-home-entrar {
  background-color: #14ae5c;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-home-cadastrar {
  background-color: #ec221f;
  font-family: Arial, Helvetica, sans-serif;
}

.logo-home {
  font-size: 14px;
  color: #333;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  line-height: 100%;
  color: #6b2f45;
  mix-blend-mode: luminosity;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}